# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
# You can also override PATH, but by default, newer versions inherit it from the environment
#PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed


17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

#iptable
@reboot  root /home/aaron/linux_server_conf/iptables_aaron.sh
#1  3    * * *   root /home/aaron/linux_server_conf/iptables_aaron.sh &

1  *    * * *   root /home/aaron/linux_server_conf/SendWANIP.sh > /tmp/sendip.log &

#cloudflare 
1  */3    * * *   root /home/aaron/linux_server_conf/set_cloudflare_dns.sh

*/30  *    * * *   root /usr/sbin/ifconfig > /var/www/html/ip.txt && curl 4.ipw.cn >> /var/www/html/ip.txt

#@reboot  root $HOME/linux_server_conf/raspberry_auto_wifi.sh





#fina and holder
1 1      * * 6     aaron /home/aaron/eastmoney/shell/get_holder_jijin_fina_balance_income_cashflow.sh

#get kline data from eastmoney 
25 9       * * 1-5 aaron /home/aaron/eastmoney/shell/get_kline_data.sh

#update zlje zlpm data every 2 minute
#cgi 
*/1 9-10     * * 1-5   aaron /home/aaron/eastmoney/shell/get_zlje_zlpm.sh
1-30 11      * * 1-5   aaron /home/aaron/eastmoney/shell/get_zlje_zlpm.sh
*/1  13    * * 1-5   aaron /home/aaron/eastmoney/shell/get_zlje_zlpm.sh
1-25 14    * * 1-5   aaron /home/aaron/eastmoney/shell/get_zlje_zlpm.sh

#get kline data from eastmoney 
25 14       * * 1-5 aaron /home/aaron/eastmoney/shell/get_kline_data.sh

45-59 14    * * 1-5   aaron /home/aaron/eastmoney/shell/get_zlje_zlpm.sh

#get kline data from eastmoney 
31 11       * * 1-5 aaron /home/aaron/eastmoney/shell/get_kline_data.sh


#get the last updated zlje a day
1 15      * * 1-5       aaron /home/aaron/eastmoney/shell/get_zlje_zlpm.sh

#get kline data from eastmoney  
2 15        * * 1-5 aaron /home/aaron/eastmoney/shell/get_kline_data.sh

#get dragon data at 17:30
30 17      * * 1-5     aaron /home/aaron/eastmoney/shell/get_dragon_data.sh 

#generate pciture
30 20      * * 1-5     aaron /home/aaron/eastmoney/shell/get_generate_picture.sh 


#hsgt
#1 04   * * 2-6   aaron /home/aaron/linux_server_conf/set_hsgt_update.sh && cd /home/aaron/eastmoney && python3 test_generate_html.py 1 && /home/aaron/linux_server_conf/set_stock_update_for_xq.sh &
#1 05   * * 2-6   aaron /home/aaron/linux_server_conf/set_hsgt_update.sh && cd /home/aaron/eastmoney && python3 test_generate_html.py 1 && /home/aaron/linux_server_conf/set_stock_update_for_xq.sh &
#get hsgt data 

#2 5     30,31 3,6,9,12   * * * aaron /home/aaron/eastmoney/shell/get_hsgt_data.sh




#tmp
#30 18        * * 1-5 aaron cd /home/aaron/eastmoney && python3 get_sina_fina_data.py > sina4.log 2>&1  &




