# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/snap/bin/chromium.chromedriver
# 部分系统需要此变量:ml-citation{ref="7" data="citationList"}
DISPLAY=:0  

# You can also override PATH, but by default, newer versions inherit it from the environment
#PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

#关闭声卡节能模式
@reboot root   echo 0 | tee /sys/module/snd_hda_intel/parameters/power_save




#iptable
@reboot  root /home/aaron/linux_server_conf/iptables_aaron.sh
@reboot  root /home/aaron/linux_server_conf/linux_client_v2ray.sh

*/30  1    * * *   root /home/aaron/linux_server_conf/iptables_aaron.sh 

1  1    * * *      aaron /home/aaron/eastmoney/shell/cleanup_old_files.sh

#1  *    * * *   root /home/aaron/linux_server_conf/SendWANIP.sh > /tmp/sendip.log 

#cloudflare 
*/10  *    * * *   root /home/aaron/linux_server_conf/set_cloudflare_dns.sh

*/30  *    * * *   root /usr/sbin/ifconfig > /var/www/html/ip.txt && curl 4.ipw.cn >> /var/www/html/ip.txt  && /usr/sbin/ifconfig > /var/www/html/ifconfig && curl 4.ipw.cn >> /var/www/html/ifconfig

#@reboot  root $HOME/linux_server_conf/raspberry_auto_wifi.sh




#holder
1 7      * * 1-5    aaron /home/aaron/eastmoney/shell/get_holder_data.sh

#database backup
1 8      * * *     aaron /home/aaron/linux_server_conf/set_postgresql_backup.sh 

#fina 
#5 6      * * 6     aaron /home/aaron/eastmoney/shell/get_jijin_fina_balance_income_cashflow.sh
#5 6      * * 6     aaron /home/aaron/eastmoney/shell/sina_get_jijin_fina_balance_income_cashflow.sh

#tmp
#15 17     * * *     aaron /home/aaron/eastmoney/shell/get_jijin_fina_balance_income_cashflow.sh
#15 17     * * *     aaron /home/aaron/eastmoney/shell/sina_get_jijin_fina_balance_income_cashflow.sh

#15 21     * * 5     aaron /home/aaron/eastmoney/shell/get_jijin_fina_balance_income_cashflow.sh
#15 21     * * 5     aaron /home/aaron/eastmoney/shell/sina_get_jijin_fina_balance_income_cashflow.sh

#get kline data from eastmoney 
25 9       * * 1-5 aaron /home/aaron/eastmoney/shell/get_kline_data.sh

*/30  9-14 * * 1-5 aaron /home/aaron/eastmoney/shell/get_kline_data.sh

#update zlje zlpm data every 2 minute
#cgi 
*/20  9-14     * * 1-5   aaron /home/aaron/eastmoney/shell/get_zlje_zlpm.sh

#get the last updated zlje a day
1  15      * * 1-5       aaron /home/aaron/eastmoney/shell/get_zlje_zlpm.sh

#get iwencai data
*/30  9-14 * * 1-5       aaron /home/aaron/eastmoney/shell/get_iwencai_dde_pe.sh
1  15      * * 1-5       aaron /home/aaron/eastmoney/shell/get_iwencai_dde_pe.sh

#*/10 9-14     * * 1-5     aaron /home/aaron/eastmoney/shell/get_xq_data.sh 
30 15     * * 1-5     aaron /home/aaron/eastmoney/shell/get_xq_data.sh 

#get kline data from eastmoney, wait for dde finish
10 15        * * 1-5 aaron /home/aaron/eastmoney/shell/get_kline_data.sh

#get iwencai_pe, every Friday
1 0        * * 6 aaron /home/aaron/eastmoney/shell/get_iwencai_dde_pe.sh

#get dragon data at 17:30
30 17      * * 1-5     aaron /home/aaron/eastmoney/shell/get_dragon_data.sh 
30 19      * * 1-5     aaron /home/aaron/eastmoney/shell/get_dragon_data.sh 

#generate pciture
#00 16      * * 1-5     aaron /home/aaron/eastmoney/shell/get_generate_picture.sh 


#hsgt
2 5     30,31 3,6,9,12       * aaron /home/aaron/eastmoney/shell/get_hsgt_data.sh
2 5     1,2,3,4,5 4,7,10,1   * aaron /home/aaron/eastmoney/shell/get_hsgt_data.sh


